@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Товары";
}

<h2 class="display-6">Наручные часы</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-center align-middle" scope="col">ID</th>
            <th class="text-center align-middle" scope="col">Название</th>
            <th class="text-center align-middle" scope="col">Стоимость</th>
            <th class="text-center align-middle" scope="col">Изображение</th>
            <th class="text-center align-middle" scope="col"><a asp-area="Admin" asp-controller="ProductManagement" asp-action="Create" class="btn btn-primary">Добавить</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th class="col-1 text-center align-middle" scope="row">@product.ProductId</th>
                <td class="col-3 text-center align-middle">@product.ProductName</td>
                <td class="col-3 text-center align-middle">@product.ProductPrice</td>
                <td class="col-3 text-center align-middle"><img src="/ProductImages/@product.ProductImage" style="height:80px; width:auto"></td>
                <td class="col-3 text-center align-middle">
                    <a asp-area="Admin" asp-controller="ProductManagement" asp-action="Update" asp-route-productId="@product.ProductId" class="btn btn-outline-warning">Изменить</a>
                    <a asp-area="Admin" asp-controller="ProductManagement" asp-action="Delete" asp-route-productId="@product.ProductId" class="btn btn-outline-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>