@model IEnumerable<TimeShop.Areas.User.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
<a asp-area="admin" asp-controller="Product" asp-action="Create" class="btn btn-outline-success mb-2">Create</a>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Image</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th class="col-1 text-center align-middle" scope="row">@product.ProductId</th>
                <td class="col-3 text-center align-middle">@product.ProductName</td>
                <td class="col-3 text-center align-middle">@product.ProductPrice</td>
                <td class="col-3 text-center align-middle"><img src="/ProductImages/@product.ProductImage" style="height:80px; width:auto"></td>
                <td class="col-3 text-center align-middle">
                    <a asp-area="admin" asp-controller="Product" asp-action="Update" asp-route-productId="@product.ProductId" class="btn btn-outline-warning">Update</a>
                    <a asp-area="admin" asp-controller="Product" asp-action="Delete" asp-route-productId="@product.ProductId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
